include ../_helpers/deepCopy.jade

- var currentLocale = current.path[0];
- var localeData = public._data.locales[currentLocale];
- var basePageData = public._data[current.source] || {};
- var localizedPageData = public[currentLocale]._data[current.source] || {};
- var pageData = {};
- deepCopy(pageData, basePageData);
- deepCopy(pageData, localizedPageData);

!= partial(current.source, pageData)
!= partial('debug', { data: public })
!= partial('debug', { data: pageData })
!= partial('debug', { data: current })
