script
  if environment !== 'production'
    if data
      | console.log(!{JSON.stringify(data)});
    else
      | console.log(!{JSON.stringify(public)});
      | console.log(!{JSON.stringify(current)});
